<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.wislight.publicservice"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />  

	
    <application
        android:name="cn.wislight.publicservice.PublicServiceApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="kkPcbe6MVphEGRw5WkXpFG2S" /> 
        
        
        <activity
           android:name="cn.wislight.publicservice.ui.LoginActivity"
            android:label="@string/app_name" 
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    <!-- 免登陆Activity  
      <activity 
            android:name="cn.wislight.publicservice.ui.FirstActivity"
            android:label="@string/app_name" 
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>  --> 
         <activity
            android:name="cn.wislight.publicservice.ui.RegisterSelectServiceTypeActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="cn.wislight.publicservice.ui.RegisgerMainActivity"
            android:screenOrientation="portrait" >
        </activity>
              
              <activity
            android:name="cn.wislight.publicservice.ui.RegisterPersonChoiceAddress"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.RegisterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.RegisterOrganizationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.CompleteHandleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.RegisterPersonalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.RegisterServantActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="cn.wislight.publicservice.ui.RegisterBusinessPersonalActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.RegisterBusinessCompanyActivity"
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name="cn.wislight.publicservice.ui.GetBackPwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        
        <!--start  commerce -->
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.BuinessLocationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.CommonServerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.DetailCommercialtenantActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.FindBuinessActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.DetailNegotiateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.NegotiatePriceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.NegotiatePriceDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.PayForActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.PersonalCenterActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.RushPurcharActivity"
            android:screenOrientation="portrait" >
        </activity>
		<activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.BuyserNegPriceActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.VOIPRecordListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.IMMessageHistoryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.IMChatingActivity"
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.SelectServiceTypeActivity"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.InitiateBusinessAffairActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.BaiduMapSelectPositionActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="cn.wislight.publicservice.ui.commercialtenant.BaiduMapShowPositionActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!--end  commerce -->
        
        
        
        <!-- start servant  -->
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.DetailGovermentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ProxyHandleActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.UploadLicenseActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantHandlingListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantHandlingDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantHasHandledListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantMergeListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantDelayListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantDetailGovermentAffairActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantGovermentAffairEndActivity"
            android:screenOrientation="portrait" >
        </activity>
        
		<activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantGovermentAffairWaitToEndDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantGovermentAffairHasEndDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantAboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantUpdateActivity"
            android:screenOrientation="portrait" >
        </activity>   
        
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantMainPageWaitToHandleDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantGovermentAffairTransferActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantGovermentAffairFindServantListActivity"
            android:screenOrientation="portrait" >
        </activity> 
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantGovermentAffairDelayActivity"
            android:screenOrientation="portrait" >
        </activity> 
        <activity
            android:name="cn.wislight.publicservice.ui.governmentaffairs.ServantGovermentAffairFindManagerListActivity"
            android:screenOrientation="portrait" >
        </activity> 
        <!-- end servant -->
        
        
        
        <!-- start user -->
        <activity
            android:name="cn.wislight.publicservice.ui.user.AddNewLocationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.ChangePwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.CommonServerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.ContactActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.DetailUserActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.InitiateThingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.CreateBusinessAffairActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.LocationPointActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.NearByBuinessActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.SettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.ThingHandleActivity"
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name="cn.wislight.publicservice.ui.user.DetailNegotiateForSenderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.UserBusinessSelectCommonlyAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.UserCommonlyBusinessmanListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.UserCommonlyBusinessmanDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <!-- end user -->
        
        <!-- start user goverment  -->
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.CreateUserGovermentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserCenterSetMessageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserChangePwdActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserGovermentSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserSelectBaiduMapSelectPositionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserSelectContactActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserHandlingGovermentAffairActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserEndGovermentAffairActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserHandlingGovermentAffairDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserEndGovermentAffairDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserCommonlyPersonListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserCommonlyPersonDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserAddCommonlyAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserGovermentAboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.wislight.publicservice.ui.user.goverment.UserGovermentUpdateActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- end user goverment  -->
        


        
        
        <!-- start utils activity -->
        <activity
            android:name="cn.wislight.publicservice.util.FindCurrentLocation"
            android:screenOrientation="portrait" >
        </activity>

        <!-- end utils activity -->
        <activity
            android:name="cn.wislight.publicservice.util.baidumap.LocationDemo"
            android:label="@string/app_name" >
        </activity>    
        <!--    
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>  
        -->  
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            >
        </service>      
        <!-- end baidu map activity -->
        
        
        <!-- start voip activity -->
        <activity
            android:name="cn.wislight.publicservice.voip.CallInActivity"
            android:screenOrientation="portrait" >
        </activity>
        <!-- end voip activity -->
        
        <!-- start voip service -->
        <service
            android:name="com.hisun.phone.core.voice.CCPService"
            android:exported="false" />
        <!-- end voip service -->
        

    </application>
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    
	<uses-permission android:name="android.permission.VIBRATE" />    
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    
    
    <!--  
    <uses-permission android:name="android.permission.INTERNET" />    
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />  
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />  
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />  
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />  
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
	<uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />  
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />  
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />  
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />  
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />  
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	
	<uses-permission android:name="android.permission.CALL_PHONE" />
	
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.CAMERA"/>
	
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    -->
    
    
    
    
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
</manifest>